<h1 appMarcarRojo>Módulos</h1>
<h1 appMarcarAzul>Módulos</h1>

<hr/>
    <a [routerLink]="['/']">Inicio</a>
    <a [routerLink]="['/perezoso']">Perezoso</a>
<hr/>
    <router-outlet></router-outlet>
<hr/>

<!-- <p>{{ title}}</p>
<p>{{ title | uppercase }}</p>
<p>{{ title | slice:3:7 }}</p>

<p>{{ title | reverse }}</p>

<p>{{ num }}</p>
<p>{{ num | currency:'EUR' }}</p>
<p>{{ num | currency:tipo }}</p>
<p>{{ num | doble:3:4 }}</p>

<p>{{ fecha }}</p>
<p>{{ fecha | date }}</p>
<p>{{ fecha | date:'dd/MM/yyyy' }}</p> -->

<app-tarjeta-credito></app-tarjeta-credito>
